body {
  font-size: 100%;
  font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
}

p {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  color: #2d2d2d;
}

/* TODO: size images manually so this is not necessary */
img {
	padding: 1em;
	height: 10em;
	width: 10em;
}
header {
	background-color: beige;
}

/********* NAV ***************/

nav, li {
	display: inline;
	padding-left: 10%;
	padding-right: 10%;
	border: solid;
	padding: 0.5rem 8rem;
	margin: rem 2rem;;
}

.flex-navigation{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: baseline;
	align-content: space-around;
}

/**************** Second Header *****************/

.flex-second-header{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
}
header img {
  max-height: 6rem;
	border: solid;
}

h1 .logo-w {
  font-size: 3.5rem;
}
h1 {
	font-size: 1.5em;
}
.photo-frame {
/*	width: 55%;*/
}

/**************** FOOTER (Previously ASIDE) ****************/

input[type="submit"] {
  padding: .25rem;
  background-color: #3D7FCF;
  border: 1px solid #3D7FCF;
  border-radius: 5px;
  font-size: .75rem;
  color: white;
}
footer {
	background-color: beige;
	padding:1em;
	width: 100%;
}

/*********** PRODUCTS SECTION ***********/

section {
	background-color: bisque;
}

h2 {
  padding-top: 1.5rem;
  font-size: 2rem;
  text-align: center;
  color: #2d2d2d;
}

h3 {
  font-size: 1.2rem;
  text-align: center;
  color: #2d2d2d;
}

.price {
	font-weight: 700;
}

.flex-container {
	display: flex;
	background-color: antiquewhite;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	align-content: stretch;
}

.flex-item {
	width: 20%;
	height: 20%;
	padding: 1% 1%;
	margin: 2% 1%;
	background-color: bisque;
	text-align: center;	
	justify-content: center;
	flex-grow: 1;
	align-items: flex-end;
}




