body {
  font-size: 100%;
  font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
}

p {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  color: #2d2d2d;
}

/* TODO: size images manually so this is not necessary */
img {
	padding: 1.3em;
}
header {
	background-color: beige;
}
/***************** NAV *****************/

nav ul:hover {
  background-color: antiquewhite;
}

/*********Horizontal NAV***************/

nav, li {
	display: inline;
	align-content: center;
	padding-left: 10%;
	padding-right: 10%;
	border: solid;
}
/**************** HERO *****************/

header img {
  max-height: 6rem;
	border: solid;
}

h1 .logo-w {
  font-size: 3.5rem;
}
h1 {
	font-size: 1.5em;
}

/********************IMAGES SIZE************/

.small-image {
	max-height: 15rem;
}
.small-image:hover {
	max-height: 22rem;
}
.large-image {
	max-height: 22rem;
}
.large-image:hover {
	max-height: 15rem;
}

/**************** FOOTER (Previously ASIDE) ****************/

input[type="submit"] {
  padding: .25rem;
  background-color: #3D7FCF;
  border: 1px solid #3D7FCF;
  border-radius: 5px;
  font-size: .75rem;
  color: white;
}
footer {
	background-color: beige;
	padding:1em;
}

/*********** PRODUCTS SECTION ***********/

section {
  padding: 0.75rem;
	background-color: bisque;
}

h2 {
  padding-top: 1.5rem;
  font-size: 2rem;
  text-align: center;
  color: #2d2d2d;
}

h3 {
  font-size: 1.2rem;
  text-align: center;
  color: #2d2d2d;
}

.price {
	font-weight: 700;
}

.flex.container {
	display: flex;
	flex-wrap: wrap;
	background-color: bisque;
}

.flex.container,div {
	width:auto;
	margin:0.5rem;
	background-color: bisque;
	text-align: center;	
	justify-content: center;
	padding: 2em;
}




